@{
    ViewBag.Title = "报表预览";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/plugins/echarts/charts_comm.js"></script>
<script src="~/Content/scripts/plugins/echarts/charts_helper.js"></script>
<script src="~/Content/scripts/plugins/echarts/china.js" type="text/javascript"></script>
<script src="~/Content/scripts/plugins/echarts/echarts.min.js" type="text/javascript"></script>
<!--jqgrid表格组件start-->
<link href="~/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>
<!--表格组件end-->
<link href="~/Content/styles/learun-report.css" rel="stylesheet" />
<script>
    var reportId = request('keyValue');
    $(document).ready(function () {
        $.Report({
            picDiv: "echart",
            reportId: reportId,
            listDiv: "gridTable"
        });
    });
</script>

<div id="formAreas" style="padding: 30px; margin: 25px;border-radius:5px; border: 1px solid rgb(204, 204, 204); box-shadow: rgb(189, 189, 189) 0px 0px 10px; background: #fff;">
    <div id="echart" style="width: 100%; height: 400px;"></div>
    <div style="margin-left: 10px; margin-right: 20px;">
        <div class="ui-report">
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>