<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@LeaRun.Util.Config.GetValue("SystemName").ToString()</title>
    <!--框架必需start-->
    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <link href="~/Content/styles/learun-ui.css" rel="stylesheet" />
    <script src="~/Content/scripts/utils/learun-ui.js"></script>
    <script src="~/Content/scripts/plugins/dialog/dialog.js"></script>
    <link href="~/Content/adminBeyond/css/beyond.min.css" rel="stylesheet" />
    <script src="~/Content/adminBeyond/js/beyond.min.js"></script>
    <script src="~/Content/scripts/plugins/cookie/jquery.cookie.js"></script>
    <!--框架必需end-->
    <script>
        var contentPath = "";
        $(function () {
            InitiateSideMenu();
            loadnav();
        })
    </script>
</head>
<body style="overflow: hidden;">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            <img src="~/Content/adminBeyond/img/logo.png" alt="" />
                        </small>
                    </a>
                </div>
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area" style="right: 5px;">
                            <li>
                                <a class="wave in dropdown-toggle" data-toggle="dropdown" title="Help" href="#">
                                    <i class="icon fa fa-envelope"></i>
                                    <span class="badge">3</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" title="Tasks" href="#">
                                    <i class="icon fa fa-tasks"></i>
                                    <span class="badge">4</span>
                                </a>
                            </li>
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <div class="avatar" title="View your public profile">
                                        <img src="~/Content/adminBeyond/img/avatars/John-Smith.jpg" style="border-radius: 29px;">
                                    </div>
                                    <section>
                                        <h2><span class="profile"><span>佘赐雄</span></span></h2>
                                    </section>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container container-fluid">
        <div class="page-container">
            <div class="page-sidebar" id="sidebar">
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" placeholder="搜索菜单" />
                    <i class="searchicon fa fa-search"></i>
                </div>
                <ul id="nav" class="nav sidebar-menu">
                </ul>
            </div>
            <div class="page-content">
                <div id="tab_list_add">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
