<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=.;Initial Catalog=LeaRunFramework_Base_2016;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient" />
  <add name="AccountDb" connectionString="Server=.;Initial Catalog=Learun_account;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient" />
</connectionStrings>